language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - jruby-18mode
  - jruby-19mode
  - ruby-head
  - jruby-head
  - ree

before_script:
  - "mysql -e 'create database angelnest_test;'"
  - "bundle exec rake db:migrate"