- text ||= t('label.edit')
.editable data-edit_target=(edit_target &&= edit_target) data-add_element=(add_element &&= add_element) data-text=text
  = link_to text, (url ||= edit_resource_path(resource))
