/* ------------------------------
  Author: Fred Wu
------------------------------ */

// colours

$primary_colour:            #0E3399;
$primary_colour_h:          darken($primary_colour, 15%);
$primary_colour_dark:       darken($primary_colour, 30%);
$secondary_colour:          grayscale($primary_colour_dark);
$secondary_colour_h:        lighten($secondary_colour, 70%);

$button_colour_primary:     darken($primary_colour, 10%);
$button_colour_primary_h:   darken($primary_colour, 15%);

$button_colour_secondary:   lighten($secondary_colour, 90%);
$button_colour_secondary_h: lighten($secondary_colour, 80%);

$bg_colour_primary:         lighten($primary_colour, 70%);
$bg_colour_secondary:       lighten($primary_colour, 60%);

// functional colour assignments

$text_colour:   $secondary_colour;
$link_colour:   $primary_colour;
$link_colour_h: $primary_colour_h;

// sizes & calculations

$grid_cell_width:  60px;
$grid_cell_margin: 10px;
$grid_cell:        $grid_cell_width + $grid_cell_margin * 2;

$viewport_width:   960px;
$viewport_margin:  30px;
$viewport_padding: 20px;

$header_hr_height: 5px;

// functions

@function grid_cells($n: 1) {
  @return $grid_cell * $n - $grid_cell_margin * 2;
}

// mixins

@mixin base_tab() {
  display: block;

}

@mixin anchor_tab() {
  @include base_tab();

  padding: 10px 20px;
  color: $secondary_colour;
  font-weight: bold;
  background: $button_colour_secondary;
  text-decoration: none;

  &:hover, &.current {
    background: $button_colour_secondary_h;
  }
}

@mixin action_button() {
  @include anchor_tab();
}

/* ------------------------------
  base level elements
------------------------------ */

body {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  background: $bg_colour_secondary;
}

a {
  color: $link_colour;
  text-decoration: none;

  &:active  { color: $link_colour; }
  &:visited { color: $link_colour; }
  &:hover   { color: $link_colour_h; text-decoration: underline; }
}

.container_12 {
  padding: 0 $viewport_padding;
  position: relative;
  background: $bg_colour_primary;
}

/* ------------------------------
  form
------------------------------ */

form {
  label {
    float: left;
    width: grid_cells(2);
    text-align: right;
    margin: 2px $grid_cell_margin;
    font-weight: bold;
    font-size: 12px;
  }

  .input {
    margin-bottom: 10px;
  }

  input.string,
  textarea.text {
    width: grid_cells(6);
    font-size: 14px;
  }

  input[type='submit'],
  input[type='button'],
  input.button {
    margin-left: $grid_cell * 2;
    @include action_button();
  }
}

form#add_micro_post {
  textarea {
    height: 50px;
  }

  input.button {
    position: absolute;
    right: $viewport_padding;
    margin-left: 0;
    margin-top: -50px;
  }
}

/* ------------------------------
  header
------------------------------ */

#header-container {
  margin-top: $viewport_margin;
  padding-top: $viewport_padding;

  h1 {
    display: block;
    font-size: 30px;
    padding: 10px 0;

    a {
      text-decoration: none;
    }
  }

  ul {
    list-style: none;
    position: absolute;
    bottom: $header_hr_height;
    right: $viewport_padding;

    li {
      float: left;

      a {
        @include anchor_tab;
      }
    }
  }

  hr {
    width: $viewport_width + $viewport_padding * 2;
    margin: 0;
    margin-left: -$viewport_padding;
    height: $header_hr_height;
    background: $secondary_colour_h;
  }
}

/* ------------------------------
  main
------------------------------ */

#main {
  padding-top: $viewport_padding;
  padding-bottom: $viewport_padding;

  h1 {
    display: block;
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 3px dotted $secondary_colour_h;
  }
}

/* ------------------------------
  footer
------------------------------ */

#footer-container {
  margin-bottom: $viewport_margin;
  padding: $viewport_padding 0;
  text-align: center;

  p {
    font-size: 11px;
    color: $secondary_colour_h;
  }
}



